option_settings:
  aws:elasticbeanstalk:container:python:
    WSGIPath: health:app
  aws:elasticbeanstalk:application:environment:
    FLASK_ENV: production
    PYTHONUNBUFFERED: 'TRUE'
    DB_HOST: postgres.c2tq4o026w5l.us-east-1.rds.amazonaws.com
    DB_PORT: '5432'
    DB_NAME: blacklist_db
    DB_USER: uniandes
    DB_PASSWORD: adminuniandes
    BEARER_TOKEN: uniandes-token
