option_settings:
  aws:elasticbeanstalk:container:python:
    WSGIPath: application:app
  aws:elasticbeanstalk:application:environment:
    FLASK_ENV: production
    PYTHONUNBUFFERED: 'TRUE'
    # Puedes agregar aquí tus variables de entorno personalizadas
    # DB_HOST: <host>
    # DB_PORT: <port>
    # DB_NAME: <name>
    # DB_USER: <user>
    # DB_PASSWORD: <password>
    # BEARER_TOKEN: <token>
